.loginContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 25rem;
    height: 25rem;
    /* height: 100vh;
    background-color: #f0f0f0; */
    background-color: #007bff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .formInput{
    width: 90%;
    height: 2.2rem;
    border: none;
    border-radius: 10px;
    background-color: #0056b3;
    padding:0 15px;
  }
  .formInput::placeholder{
    padding-left: 15px;
  }
  .loginButton{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;

  }
  .loginButton:hover {
    background-color: #0056b3;
  } 
  /*
  
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  
  */