.nav{
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    z-index: 10;
}

.logo{
    height: 4rem;
}